# prevent node modules from being pushed
node_modules/

# prevent the environment file from being pushed
.env

# prevent the config file from being pushed
config.json

# prevent files folder from being pushed
#files/